In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

wc_1998 = requests.get('https://www.iwf.net/results/results-by-events/?event=96').text
wc_1999 = requests.get('https://www.iwf.net/results/results-by-events/?event=4').text
xxvii = requests.get('https://www.iwf.net/results/results-by-events/?event=71').text
wc_2001 = requests.get('https://www.iwf.net/results/results-by-events/?event=89').text
wc_2002 = requests.get('https://www.iwf.net/results/results-by-events/?event=91').text
wc_2003 = requests.get('https://www.iwf.net/results/results-by-events/?event=94').text
xxviii = requests.get('https://www.iwf.net/results/results-by-events/?event=4').text
wc_2005 = requests.get('https://www.iwf.net/results/results-by-events/?event=3').text
wc_2006 = requests.get('https://www.iwf.net/results/results-by-events/?event=8').text
wc_2007 = requests.get('https://www.iwf.net/results/results-by-events/?event=11').text
xxix = requests.get('https://www.iwf.net/results/results-by-events/?event=21').text
wc_2009 = requests.get('https://www.iwf.net/results/results-by-events/?event=41').text
wc_2010 = requests.get('https://www.iwf.net/results/results-by-events/?event=116').text
wc_2011 = requests.get('https://www.iwf.net/results/results-by-events/?event=190').text
xxx = requests.get('https://www.iwf.net/results/results-by-events/?event=214').text
wc_2013 = requests.get('https://www.iwf.net/results/results-by-events/?event=253').text
wc_2014 = requests.get('https://www.iwf.net/results/results-by-events/?event=298').text
wc_2015 = requests.get('https://www.iwf.net/results/results-by-events/?event=341').text
xxxi = requests.get('https://www.iwf.net/results/results-by-events/?event=362').text
wc_2017 = requests.get('https://www.iwf.net/results/results-by-events/?event=405').text

list_events = [wc_1998, wc_1999, xxvii, wc_2001, wc_2002, wc_2003, 
               xxviii, wc_2005, wc_2006, wc_2007, xxix, wc_2009, wc_2010, wc_2011, xxx, 
              wc_2013, wc_2014, wc_2015, xxxi, wc_2017]

In [31]:
def organize(rows):
    list_name = []
    list_dob = []
    list_dob_final = []
    list_bw = []
    list_snatch = []
    list_cj = []
    list_total = []
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 2:
                    list_name.append(value)
                elif (n - 2) % 9 == 0:
                    list_name.append(value)
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 3:
                    list_dob.append(value)
                elif (n - 3) % 9 == 0:
                    list_dob.append(value)
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 5:
                    list_bw.append(value)
                elif (n - 5) % 9 == 0:
                    list_bw.append(value)
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 7:
                    list_snatch.append(value)
                elif (n - 7) % 9 == 0:
                    list_snatch.append(value)
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 8:
                    list_cj.append(value)
                elif (n - 8) % 9 == 0:
                    list_cj.append(value)
    for row in rows:
            cells = row.findChildren('td')
            n = 0
            for cell in cells:
                n += 1
                value = cell.string
                if n == 9:
                    list_total.append(value)
                elif (n - 9) % 9 == 0:
                    list_total.append(value)
    for i in list_dob:
        r = list(i)
        del r[0:6]
        s = ''.join(r)
        list_dob_final.append(int(s))
    list_all = [list(l) for l in zip(list_dob_final, list_bw, list_snatch, list_cj, list_total)]
    dict1 = dict(zip(list_name, list_all))
    dict2 = {}
    for key in list(dict1.keys()):
        if dict1[key][4] == '---':
            del dict1[key]
    n = 0
    for key, value in dict1.items():
        n += 1
        if n <= 3:
            dict2[key] = value

    return dict2

In [32]:
def total_set(html): 
    list_tables = []
    for i in range(0, 8):
        table = soup.find_all('table')[i]
        list_tables.append(table)
        
    dict_semi_final = {}
    for t in list_tables:
        rows = t.findChildren(['tr'])
        r = organize(rows)
        for key, value in r.items():
            dict_semi_final[key] = value
    return dict_semi_final

In [33]:
n = 1997
cols = ['DOB', 'BW', 'Snatch', 'C&J', 'Total', 'Year']
items = []
for html in list_events:
    n += 1
    soup = BeautifulSoup(html, "html.parser")
    dict_here = total_set(soup)
    for key, value in dict_here.items():
        dict_here[key].append(int(n))
    for key, value in dict_here.items():
        items.append(value)

In [38]:
df1 = pd.DataFrame(items, columns=cols)
df1['Age'] = (df1['Year'] - df1['DOB'])
df1

      DOB      BW Snatch    C&J  Total  Year  Age
0    1973   55.66    135    160    295  1998   25
1    1974   55.85  127.5  157.5    285  1998   24
2    1971   55.86  122.5    160  282.5  1998   27
3    1971   61.76  147.5  172.5    320  1998   27
4    1970   61.80    145  172.5  317.5  1998   28
..    ...     ...    ...    ...    ...   ...  ...
475  1992  104.78    180    222    402  2017   25
476  1986  103.77    182    217    399  2017   31
477  1993  166.00    220    257    477  2017   24
478  1988  169.31    203    251    454  2017   29
479  1989  173.68    211    242    453  2017   28

[480 rows x 7 columns]

In [42]:
df1.to_csv(r'/Users/maxgebhard/p1_df_1.csv', index = False)